@charset "UTF-8";

body {
    background-color: rgb(252, 194, 123);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1 {
    background-color: rgb(255, 170, 170);
    color: rgb(42, 165, 159);
}
h2 {
    color: rgb(255, 208, 0);
}
p {
    text-align: justify;
}